<p-card [header]="post.title" [style]="{'text-align': 'center', 'margin': '3%'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <p-avatar [label]="getUserInitial(post.userPostIt.name)" styleClass="mr-2" size="xlarge" [style]="{'background-color':'var(--primary-color)', 'color': '#ffffff'}"></p-avatar>
    </ng-template>
    <ng-template pTemplate="subtitle">
      <p><span style="font-weight: 700;">Post pubblicato da:</span> {{post.userPostIt.name}} - alias <a href="https://www.w3schools.com">{{post.userPostIt.username}}</a></p>
    </ng-template>
    <p> {{ post.body }}</p>
    <ng-template pTemplate="footer" *ngIf="canDelete">
      <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-warning" 
        pTooltip="Elimina Post" (click)="onDeletePost.emit(post.id)"></button>
    </ng-template>
</p-card>